html {
    height: 100%;
}

body {
    margin: auto;
    background-image: url("paint-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#paint {
    border: 5px solid black;
}

#hex {
    position: absolute;
    height: 30px;
    width: 150px;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

#clear {
    position: absolute;
    height: 20px;
    width: 100px;
    top: 55%;
    left: 3.5%;
    transform: translateY(-50%);
}